body {
  font-family: Verdana;
}
.container {
  width: 1366px;
  height: 768px;
  background-image: url(../images/background.png);
  overflow: hidden;

}
.head {
  margin-left: 155px;
  margin-top: 49px;
  line-height: 1;
}

.head-logo {
  cursor: pointer;
  background-repeat: no-repeat;
   font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
}
.logo {
  background-image: url(../images/logo.png);
  float: left;
  width: 46px;
  height: 44px;
  margin-top:3px;
}
.head a {
  text-decoration: none;
  color: #ffffff;
  display: block; /*ссылка на весь блок*/
  font-size: 29px;
  cursor: pointer;
}
.logo-text {
  float: left;
  width: 105px;
  line-height: 0.78;
  margin-top: 3px;
  margin-left: 12px;
}

.logo-text > span {
    
  font-size: 18px;
}
.head-logo:hover {
  color: #f26522;
}
.head-logo:hover .logo {
  background-image: url(../images/logo@1X.png);
}
.contacts {
  font-size: 18px;
  color: #ffffff;
  margin-left: 657px;
  margin-top: 8px;
  text-align: right;
  display: inline-block;
  line-height: 1.1;
}
nav {
  display: block;
  margin-left: 155px;
  margin-top: 47px;
  text-indent: 0; /*отступ слева*/
  text-align: center;
  line-height: 2.5;
  z-index:10;
}

.pic {
   
  float: left;
  cursor: pointer;
  text-transform: capitalize;
  display: inline-block;
  text-decoration: none;
  margin-right: 68px;
  padding-bottom: 58px;  
  width: 307px;
  height: 250px;
  position: relative;
 
 
}
.pic:nth-last-of-type(-n+3){
    bottom:10px;
}
.pic img{
    border: 2px solid transparent;
    border-bottom:none;
    border-image: linear-gradient(to top, transparent 0%, rgb(131, 177, 180) 100%);
    border-image-slice: 1;
   overflow:hidden;
   width: 307px;
   box-shadow: 15px 15px 10px 10px rgba(0,0,0,0.5);
  
}

.pic > div {
  margin-bottom: 150px;
}

nav a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  }
.pic-menu>span {
    text-align: right;
    padding-left: 130px;
    text-transform: capitalize;
}
.pic-menu {   
  opacity:0;   
  color:transparent;
  line-height: 1;
  float: left;
  bottom: -43px;
  left: 0px;
  position: absolute;
  text-align: left;
  text-transform: lowercase;
  width: 307px;
  height: 0px;
  font-size:20px;  
}

.pic-menu p{
    font-size: 10px;
    margin-top:16px;
    margin-bottom:0;
    margin-left:21px;
}
.pic-menu p:last-child{
 font-size:20px;
 margin-top:5px;
 
  
}
.pic-menu p>span{
    font-size:14px;
    margin-left:125px;
    text-transform:capitalize;
}
.pic-menu p>span:after{
   content: url(../images/Arrow@1X.png);
    display:inline-block;
    height:7px;
    width:10px;
    margin-left:15px;
}


.pic:hover .pic-menu {  
    font-size: 10px;
    opacity:1;
    color: #ffffff;
    background-color: rgba(242, 101, 34, 255);  
    height: 63px;
    width:311px;
    bottom:-45px;
    overflow:hidden;
    

    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;


}
.pic:hover div:last-child {
  color: rgba(242, 101, 34, 255);
}

footer {
  font-size: 12px;
  position: absolute;
  margin-left: 512px;
  margin-top: 583px;
  text-align: center;
  color: #ffffff;
}

footer > span {
  text-transform: capitalize;
  padding-right:3px;
}
