body{
    margin:0;
    padding:0;
    background-color: black;  

}

#audio{
    background: transparent;
    width: 10%;
    height: 5%;

}

.pers{
    height: 500px;
    width: 100%;
    
 
   
    perspective:800px;
    transform-style: preserve-3d;
    box-sizing: border-box;
}

.container{ 
transform: rotateX(60deg);
}


.container .text{      
   
    color: #fbcf00;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
    background-color: black;
    text-align: center;
    animation-name: rise;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode:both;
    
}
#dart{
    opacity: 0;
}
@keyframes rise{
    from{
    
       
        transform: translate3d(0px, 800px, 0px);
    } 
      
    
  
    to{
        transform: translate3d(0px, -1000px, 0px);    
        margin-bottom:90%;  
    }

}