body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}


header {
  display: block;
  width: 1920px;
  height: 1012px;
  background-image: url(../image/section-1.jpg);  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;  
  align-items: center;
  align-content: center;
}

.head {
  display: flex;
  width: 1920px;

  height: 120px;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(70, 70, 70, 0.6);

}
.center {
  display: block;
}
a {
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}
nav div{
  padding-left:20px;
  padding-right:20px;
}
nav a{
  padding-bottom:50px;
}
nav a:hover{
  color: #18cfab;
  border-bottom: 2px solid #18cfab;
}
.company-logo {
  display: flex;
  align-items: center;
  justify-content: center;
 
  margin-left: 349px;
  box-sizing: border-box;
  
  position: relative;
}

.name {
  font-weight: bold;
  color: #18cfab;
  text-transform: capitalize;
}
.logo {
  font-size: 40px;
  color: white;
  position: relative;
  position: absolute;
  right: 84px;
  
  line-height: 0.5;
}

.logo-name { 
  background-color: transparent;
  font-size: 15.5px;
  position: relative;
  left: 8px;
}
.hexagon {
    width: 58px;
    height: 67px;   
    background-color: #18cfab;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    
}

.search button{
    width: 0;
    height: 0;
    border: none;
    background: #171a1c;
    padding: 0;
    cursor: pointer;
    color: #fff;
    transition: color 0.5s;
    position: relative;
    right: 160px;
  
}

 .search button:hover{
  color: #18cfab;
}

.search button::after {
  content: "\f002";
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 25px;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 701px;
  text-transform: uppercase;
}

.center {
  margin-top: 246px;
}

.center-title {
  color: rgba(255, 255, 255, 255);
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  font-weight:bold;
}
.center-title span {
  color: #18cfab;
}
.center-subtitle {
  font-size: 69.5px;
  font-weight: bold;
  color: rgba(255, 255, 255, 255);
  text-align: center;
  text-transform: uppercase;
}
.center-other {
  font-size: 30px;
  color: rgba(212, 212, 212, 255);
  text-align: center;
  text-transform: capitalize;
  font-weight: lighter;
}

.buttons {
  margin-top: 142px;
  margin-left: 134px;
}
.button {
  width: 166px;
  height: 51px;
  border: none;
  border-top: 3px solid white;
  border-radius: 5px;
  font-size: 14px;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 0;
  background-color: #18cfab;
  color:white;
  cursor: pointer;
}

#b2 {
  background-color: #00cbf6;
  margin-left: 27px;
}

.customize ul {
  width: 1920px;
  height: 374px;
  display: flex;
  justify-content: space-between; 
}
.customize li {
  width: 480px;
  box-sizing: border-box;
  background-color: #1c2a33;
  border-top: 7px solid #18cfab;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.customize span{
  width: 100%;
  position: absolute;
  right: 1px;
  text-align: center;
  top:240px;
  color: #18cfab;
}
.customize img{
  position: relative;
  left: 194px;
  top: 95px;
 
  vertical-align: middle;
}

.customize li:nth-child(even) {
  border-top: 7px solid white;
  background-color: #18cfab;    
}
.customize li:nth-child(even) img{ 
  left: 194px;
  top: 117px;
}
.customize li:nth-child(even) span{
  color:white;   
}

/* our services */

.section-1{
  display:flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;  
  width: 1920px;
  height: 560px;
  position: relative;
}

.section-title { 
  height: 27px;
  font-size: 36px;
  color: #4e4e4e;
  margin-top: 84px;
  text-transform: capitalize;
  position: relative;
}

.line1 {
  width: 76px;
  height: 1px;
  background-color: #18cfab;
  color: #18cfab;
  margin-top: 37px;
  border: none;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 3px;
  position: relative;
  right: 6px;
}
.line2 {
  width: 76px;
  height: 1px;
  background-color: #18cfab;
  color: #18cfab;
  margin: 0;
  border: none;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  left: 6px;
}


.tabs {
 display: flex;
  margin-top: 70px;
}
.tabs-title {
  width: 193px;
  height: 73px;
  background-color: #f8fcfe;
  color: #959697;
  cursor: pointer;
  border: 1px solid #959697;
  border-left: none;
  text-align: center;
  line-height: 73px;
  box-sizing: border-box;
  position: relative;
}
.tabs-title:first-child {
  border-left: 1px solid #959697;
}
.tabs-title.active {
  background-color: #18cfab;
  color: #f0fcf9;
  border: none;  
}
.tabs-title:hover{
  background-color: #18cfab;
    color: #ffffff;
}

.tabs-title.active::after{
   content: '';
    border: 12px solid transparent;
    border-top: 12px solid #18cfab;
    position: absolute;
    left: 50%;
    margin-left: -12px;
    bottom: -24px;
    width: 0;
}
.tabs-content {
  margin-top: 25px;
  width: 965px;
  height: 136px;
  margin-right:193px;
}
.tabs-content > li {
  display: none;

}
.tabs-content > li img {
  float: left;
  width: 194px;
  height: 139px;
  padding-right:20px;
}
.tabs-content > li.active {
  color: #777777;
  display: block;  
}
.buy{
  width: 1920px;
  height: 476px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/section-2.png);

 
}
.buy-title{
font-size: 40px;
color:#18cfab;
font-weight:bold;
padding-top: 128px;
text-align: center;
text-transform: uppercase;

}
.buy-subtitle{
padding-top: 35px;
font-size:16px;
color: white;
text-align: center;
text-transform: capitalize;
}
#b3{
  margin-top:76px;
  margin-left: 878px; 
}




/* our amazing work */

.section-2{
  display:flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;  
  width: 1920px;
 
}



.tabs2 {
  display: flex;  
  height: 58px;  
  margin-top: 70px; 
}
.tabs-title2 { 
  background-color: white;
  color: #959697;
  cursor: pointer;
  border: 1px solid #959697;
  border-left: none;
  text-align: center;
  line-height: 58px;  
  padding-left: 20px;
  padding-right:20px ;
  box-sizing: border-box;
}
.tabs-title2:first-child {
  border-left: 1px solid #959697;
}
.tabs-title2:hover {
  box-shadow:  0px -3px 0px -1px rgba(24, 207, 171, 1);
  color: #18cfab;
  
}
.filtered{
 box-shadow:  0px -3px 0px -1px rgba(24, 207, 171, 1);
  color: #18cfab;
}
.content-images {
  margin-top:70px;
  display: flex;
  flex-wrap: wrap;
  width: 1144px;
  box-sizing: border-box;
 
}
.content-images img{
  line-height: 0;
  display: block;
  width:284px;
  height:206px;
}

#myList li{
  position: relative;
}
#box-hover {
  width: 285px;
  height: 207px;
  background-color: #f8fcfe;
  position: absolute;
  opacity: 0;
  display:none;
  transition: 0.8s;
  bottom: .1px;
  cursor: pointer;
}

#myList li:hover #box-hover {
  opacity: 1;
  display:block;
}
#myList li:hover {
  box-shadow: 0px -5px 0px -1px rgba(24, 207, 171, 1);
}
.circle-white {
  width: 41px;
  height: 40px;
  border: 1px solid #18cfab;
  border-radius: 50%;
  position: absolute;
  top: 46px;
  left: 146px;
}
.circle-colored {
  width: 41px;
  height: 40px;
  border: 1px solid #18cfab;
  border-radius: 50%;
  position: absolute;
  top: 46px;
  left: 100px;
}
.circle-white:hover .fa-search {
   color: #ffffff;
}
.circle-white:hover {
  background-color: #18cfab;
}
.circle-colored:hover .fa-link {
  color: #ffffff;
}
.circle-colored:hover {
  background-color: #18cfab;
}
.changed-fa-icons {
  margin-top: 13px;
  margin-left: 13px;
  color: #18cfab;
}
.box-info1 {
  width: 260px;
  height: 10px;
  color: #18cfab;
  font-size:16px;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  top: 120px;
  left: 80px;
}
.box-info2 {
  width: 200px;
  height: 13px;
  color: #c5c7c8;
  font-size: 14px;
  position: absolute;
  top: 150px;
  left: 100px;
}


#loadMore {
  border:none;
  margin-top:71px;  
  cursor:pointer;
  color:white;
}
#myList li{
  display:none;
}

#loadMore:hover {
   color:lightblue;
}
.button span{
  font-size: 20px;
    position: relative;
    top: 2px;
    right: 16px;
}




/* breaking-news */

.section-3{
  width: 1920px;
  height: 963px;
  background: #ffffff;
  position: relative;
  display:flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;  
  width: 1920px;
 
}

#news-box{
    height: 606px;
    width: 1137px;
    position: relative;  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.news {
  width: 263px;
  height: 280px;
  position: relative;
  cursor: pointer;
}
.news img {
  width: 263px;
  height: 208px;
  
}
.label {
  width: 68px;
  height: 67px;
  background-color: #203e38;
  position: absolute;
  color: #ffffff;
  top: 0;
  left: 195px;
}
.news-text {
  color: #ffffff;
  text-align: center;
  line-height: 1.5em;
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 16.5px;
}
.text {
  width: 261px;
  height: 72px;
  background-color: #f8fcfe;
  position: absolute;
  top: 208px;
  left: 0;
  border: 1px solid lightgray;
}
.news-text2 {
  font-size: 18px;
  font-weight: bold;
  color: #717171;
  position: absolute;
  top: 15px;
  left: 15px;
}
.news-text3 {
  font-size: 14.4px;
  color: #717171;
  position: absolute;
  top: 45px;
  left: 15px;
}
.news:hover .label {
  background-color: #18cfab;
}
.news:hover .news-text2 {
  color: #18cfab;
}



/* what people say about theham */

.section-4 {
  width: 1920px;
  height: 851px;
  display:flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;    
  background-image: url("../image/section-4.png");
}
.line3 {
  width: 44px;
  height: 30px; 
  margin-top: 69px;
}
.container {
  width: 1120px;
  height: 851px; 
}
.feedback {
  color: #bbbbbb;
  font-size: 16px;
  line-height: 1.5em;
  text-align: center;
  padding-top: 43px;
  padding-bottom: 43px;
  padding-left: 5px;
}

.feedback-name {
  color: #18cfab;
  width: 100px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-left: 510px;
}
.feedback-title {
  color: #bbbbbb;
  font-size: 14px;
  line-height: 3em;
  margin-left: 5px;
}
.fb-box {
  width: 100px;
  height: 50px;
  position: relative;
  top: 43px;
  left: 500px;
}
.avatar {
  width: 143px;
  height: 142px;
  border-radius: 50%;
  border: 3px solid #18cfab;
  margin-top: 36px;
  margin-left: 490px;
  margin-bottom: 68px;
  box-shadow: 0px 0px 0px 8px rgba(24,207,171,0.23);
}
.vision{
  display: block;
}
.slider{
  width: 479px;
  height: 100px;
  background-color: transparent;
  margin: 0 auto;
  position: relative;
  bottom: 90px;
  overflow: hidden;
  margin-top: 68px;
}
.wrapper-slider {
  width: 400px;
  position: relative;
  left: 25px;
  transition: all ease 1s;
  padding-top: 5px;
  margin-left: 15px;
}
.wrapper-slider img {
  float: left;
}
.wrapper-slider::after{
  content: "";
  display: block;
  clear: both;
}
.img-slider {
  width: 62px;
  height: 61px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 6px rgba(24,207,171,0.23);
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 16px;
}
.zoom {
  width: 62px;
  height: 61px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 6px rgba(24,207,171,0.23);
  border: 2px solid #18cfab;
  transition: all ease .8s;
  margin-top: 3px;
  margin-left: 16px;
  margin-right: 16px;
}
.img-slider:hover {
  width: 62px;
  height: 61px;
  border-radius: 50%;
  border: 2px solid #18cfab;
  box-shadow: 0px 0px 0px 6px rgba(24,207,171,0.23);
  transition: all ease .8s;
  margin-top: 3px;
  margin-left: 20px;
  margin-right: 16px;
}
.btn-left {
  width: 31px;
  height: 31px;
  background-color: transparent;
  font-size: 20px;
  border: 1px solid darkgrey;
  color: darkgrey;
  outline: none;
  position: absolute;
  top: 37px;
  left: 0px;
}
.btn-right {
  width: 31px;
  height: 31px;
  background-color: transparent;
  font-size: 20px;
  border: 1px solid darkgrey;
  color: darkgrey;
  outline: none;
  margin-left: 8px;
  position: absolute;
  top: 37px;
  left: 430px;
}
.btn-right:hover {
  background-color: #18cfab;
  border: transparent;
  color: #ffffff;
}
.btn-left:hover {
  background-color: #18cfab;
  border: transparent;
  color: #ffffff;
}
.arrow {
  font-size: 13px;
  margin-bottom: 5px;
}
.review-container {
  display: none;
}
.review-container.active {
  display: block;
}

/* footer */

footer {
  width: 1920px;
  height: 108px;
  background-color: #22353f;   
  text-align: center;
  position: relative;  
  margin-bottom: 11px;
}
footer h2 {  
  color: #a5a6a7;
  position: absolute;
  top: 34px;
  left: 800px;
  font-size: 14px;
  font-weight: 200;
}

footer span{
  color: #18cfab;  
}
